@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

// Footer social icons styling
.footer-three {
	.social-icon {
		ul {
			list-style: none !important;
			margin: 0 !important;
			padding: 0 !important;
			display: flex;
			align-items: center;
			gap: 12px;
			
			li {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 !important;
				padding: 0 !important;
				
				a {
					width: 45px !important;
					height: 45px !important;
					min-width: 45px !important;
					min-height: 45px !important;
					display: flex !important;
					align-items: center !important;
					justify-content: center !important;
					background-color: colors.$white !important;
					color: colors.$primarycolor !important;
					border-radius: 50% !important;
					text-decoration: none !important;
					font-size: 20px !important;
					line-height: 1 !important;
					@include mixins.transition(all 0.3s ease 0s);
					
					i {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						color: colors.$primarycolor !important;
						font-size: 20px !important;
						margin: 0 !important;
						padding: 0 !important;
						@include mixins.transition(all 0.3s ease 0s);
					}
					
					&:hover {
						background-color: colors.$primarycolor !important;
						color: colors.$white !important;
						@include mixins.transform(scale(1.1));
						
						i {
							color: colors.$white !important;
							@include mixins.transform(rotateY(360deg));
						}
					}
					
					&:focus-visible {
						outline: 2px solid colors.$primarycolor;
						outline-offset: 3px;
					}
				}
			}
		}
	}
}
